* {
    outline: 0 !important;
}
a:hover {
    text-decoration: none;
}
html, body {
    width: 100%;
    min-height: 100vh;
    font-family: $bodyFont;
    direction: $isRtl;
    text-align: $left;
    ::selection {
        background-color: #444;
        color: #fff;
    }
    &.dark{
        background-color: #000;
    }
}
iframe{
    body{
        background-color: #000;
    }
}

/////////////////////////////// theme //////////////////////////////////
button{
    &.mainBtn{
        text-transform: uppercase;
        background-color: $mainClr;
        color: #fff;
        padding: 8px 20px;
        &:hover{
            color: #fff;
        }
        &:focus{
            box-shadow: none;
        }

    }
}

textarea.form-control{
    resize: none;
    &:focus{
        box-shadow: none;
    }
}


/////////////////////////////// classes //////////////////////////////////
section {
    padding: $secPadding;
}
.center{
    @extend %centerer
}

.banner{
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    font-family: $headingFont;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    background-size: cover;
    background-position: center;
    color:#fff;
    font-size: 46px;
    &:before{
        content: '';
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    span{
        position: relative;
    }
}

.page-title-type-2{
    font-size: 50px;
    color: $grey;
    text-transform: capitalize;
    margin: 50px 0 40px;
    font-family: $headingFont;
}
.page-title-type-3 {
    position: absolute;
    #{$left}: -60px;
    top: 0;
    margin-top: 0;
    padding-#{$left}:25px;
    float: $left;
    line-height: 50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: scale($minus-var*1) translateX(50px);
    -moz-transform: scale($minus-var*1) translateX(50px);
    -ms-transform: scale($minus-var*1) translateX(50px);
    -o-transform: scale($minus-var*1) translateX(50px);
    transform: scale($minus-var*1) translateX(50px);
    @extend .page-title-type-2;
}
.page-temp-2{
    padding-top: 50px;
    .container{
        //display: flex;
        //justify-content: center;
        //align-items: flex-start;
    }
}

.subTitle{
    color: $grey;
    font-family: $headingFont;
    text-transform: uppercase;
}
.p-title{
    color: $mainClr;
    font-family: 'body-font-bold';
}

article{
    clear: both;
    display: table;
    margin-bottom: 30px;
    img{
        float: $left;
        margin-#{$right}: 15px;
        margin-bottom: 15px;
    }
    h2{
        margin-bottom: 20px;
        font-family: $bodyFont-b;
    }
    a{
        color: inherit;
    }
}
.image{
    padding-top: 160%;
    margin-bottom: 25px;
    @extend %covered_bg;
}


//************************** general**************
.the-form{
    margin-bottom: 30px;
    margin-top: 30px;
    .page-title-type-2{
        font-family: $headingFont-b;
        font-size: 26px;
    }
    .form-group{
        padding: 0 10px;
        background-color: #fff;
        border: 2px $lGrey solid;
        display: flex;
        align-items: center;
        border-radius: 3px;
        position: relative;
        margin-bottom: calc(14px + 5px + 3px);
    }

    label{
        text-transform: capitalize;
        color: $lGrey;
        margin-bottom: 0;
        font-size: 18px;
        min-width: 20%;
        font-family: $headingFont;
    }
    .submit-btn{
        display: flex;
        justify-content: flex-end;
        .mainBtn{
            background: transparent;
            border: 1px solid $lGrey;
            color: $grey;
            font-family: $headingFont-b;
            i{
                margin-#{$right}: 10px;
                color: $lGrey;
            }
        }
    }
}
input.form-control{
    border: none;
    background-color: transparent;
    &:focus{
        box-shadow: none;
    }
}
.select2-container--default .select2-selection--single{
    background: transparent;
    border: none;
    height: calc(1.5em + .75rem + 2px);
    .select2-selection__rendered{
        height: 100%;
        color: $lGrey;
        padding-#{$left}:10px;
        .select2-selection__placeholder{
            line-height: 38px;
        }
    }
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
    top: 0;
    #{$right}: 0;
}
//---
.select2-container--open .select2-dropdown--below{
    background: #333;
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: capitalize;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: darken(#fff, 20%);
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: darken(#fff, 20%);

}
.project-gallery{
    >div {
        padding:0;
    }
    .img{
        padding-top: 100%;
        @extend %covered_bg
    }
}
//----------
.filupp {
    position: relative;
    font-size: 1em;
    width: 100%;
    color: #fff;
    cursor: pointer;
    height: calc(1.5em + .75rem + 5px);
    display: flex;
    span{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .browse-btn{
        width: 25%;
        span{
            width: 100%;
            height: 70%;
            border-radius: 10px;
            background: $grey;
            justify-content: center;
            color: #fff;
        }
    }
    > input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

.filupp-file-name {
    width: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-family: $headingFont;
}


.fancybox-button--close{
    display: none;
}
//-----------------------validation--------
.validation{
    border-#{$left}-color: #d21414 !important;
    .validate-message{
        position: absolute;
        top: calc(100% + 3px);
        #{$left}: 10px;
        margin: 0;
        font-size: 12px;
        color: #d21414;
        text-transform: capitalize;
        display: block;
    }
}
.validate-message{
    display: none;
}


@-webkit-keyframes  floating {
    from {
        -webkit-transform: rotate(-0.001deg) translate3d(5px, 0, 0) rotate(-0.001deg);
    }
    
    to {
        -webkit-transform: rotate(360.001deg) translate3d(5px, 0, 0) rotate(-360.001deg);
    }
}

@keyframes floating{
    from {
        transform: rotate(-0.001deg) translate3d(5px, 0, 0) rotate(-0.001deg);
    }
    
    to {
        transform: rotate(360.001deg) translate3d(5px, 0, 0) rotate(-360.001deg);
    }
}


@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    @extend .animated-fast
}

.animated-fast {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


//------------
.fancybox-slide--iframe{
    .fancybox-content{
        position: absolute;
        width: 50vw!important;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
        height: 40% !important;
    }
}
.contact-us{
    &.popup-msg{
        height: 100vh;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .popup-msg-inner{
            z-index: 1;
            h1{
                color: #fff;
                font-size: 30px;
                text-transform: capitalize;
                text-align: center;
            }
        }
    }
}