.underline {
    text-decoration: underline;
    &:hover {
        text-decoration: underline;
    }
}

%covered_bg {
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

%centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,-50%);
}







