/*----- colors -----*****************************************/
$footerClr: #2a2627;
$mainClr: #991e20;
$grey:#818181;
$lGrey:#afafaf;

/*----- spacing -----*****************************************/
$secPadding: 50px 0 55px 0;



$transition--length: .8;




/*----- translate -----*****************************************/
$isRtl: rtl;
//directions -------
$left: left;
$right: right;
$flex-direction:row;
$minus: 1;
$plus: -1;

// icons -----
$double-right: "\f101";
$double-left: "\f100";
$chevron-left:"\f053";
$chevron-right:"\f054";

//font family ------
$bodyFont: 'body-font-r';
$bodyFont-b: 'body-font-b';
$headingFont:'heading-font-r';
$headingFont-b:'heading-font-b';

// font size -------

//--
$menu-translate: 1px;
$menu-rotate : 45deg;

$minus-var : -1;

@if $isRtl == rtl
{
    //directions -------
    $left: right;
    $right: left;
    $flex-direction:row-reverse;
    $minus: -1;
    $plus: 1;

    // icons -----
    $double-right: "\f100";
    $double-left: "\f101";
    $chevron-left:"\f054";
    $chevron-right:"\f053";

    //font family ------
    $bodyFont: 'body-font-r-ar';
    $bodyFont-b: 'body-font-b-ar';
    $headingFont:'heading-font-b-ar';
    $headingFont-b:'heading-font-b-ar';


    // font size -------

    //--
    $menu-translate: -11px;
    $menu-rotate : -135deg;

    $minus-var : +1;
}
@else {
    //directions -------
    $left: left;
    $right: right;
    $direction:ltr;
    $flex-direction:row;
    $minus: 1;
    $plus: -1;

    // icons -----
    $double-right: "\f101";
    $double-left: "\f100";
    $chevron-left:"\f053";
    $chevron-right:"\f054";

    //font family ------
    $bodyFont: 'body-font-r';
    $bodyFont-b: 'body-font-b';
    $headingFont:'heading-font-r';
    $headingFont-b:'heading-font-b';


    // font size -------

    //--
    $menu-translate: 1px;
    $menu-rotate : 45deg;

    $minus-var : -1;
}
