@import "_variables";
@import "_mixins";
@import "_partials";
@import "_grid";
@import "_general";
@import "_header-footer";
@import "_main";
@import "_responsive";


///////////////////////////////////////////////

@font-face {
    font-family: 'heading-font-r';
    src: url('../fonts/Gilroy-Light.otf') format("opentype");
}
@font-face {
    font-family: 'heading-font-b';
    src: url('../fonts/Gilroy-ExtraBold.otf') format("opentype");
}
@font-face {
    font-family: 'body-font-r';
    src: url('../fonts/SamsungSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'body-font-b';
    src: url('../fonts/SamsungSharpSansRegular-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'body-font-bold';
    src: url('../fonts/samsung_s_sharp_bold.ttf') format('truetype');
}



//////////arabic font//////////////////////////
@font-face {
    font-family: 'heading-font-r-ar';
    src: url('../fonts/GE Dinar One Light.otf') format("opentype");
}
@font-face {
    font-family: 'heading-font-b-ar';
    src: url('../fonts/GE Dinar One Medium.otf') format("opentype");
}

@font-face {
    font-family: 'body-font-r-ar';
    src: url('../fonts/Cairo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'body-font-b-ar';
    src: url('../fonts/Cairo-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'body-font-bold-ar';
    src: url('../fonts/Cairo-Bold.ttf') format('truetype');
}